.contact-us{
    margin:50px 30px;
    
}
.contact{
    border:1px solid gray;
    padding:5px ;
    border-radius: 10px;
}
.phone-p{
    background-color: rgb(238, 152, 195);
}
.address{
    background-color: rgb(211, 243, 178);

}
.email{
    background-color: rgb(235, 235, 145);
}